.hero {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.hero-heading {
  font-size: 2.5rem;
  font-weight: 600;
  font-style: SemiBold;
  line-height: 68px;
  letter-spacing: -0.02em;
}

.hero-subtext {
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 600px;
}

.hero-button {
  margin-top: 2rem;
  background-color: #ffb02e;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
